.fotter {
    background: #fff;
    padding: 32px 20px;
    text-align: center;
}

.text-fotter h2 {
    font-size: 16px;
    font-family: poppins;
    color: #383838;
    margin-bottom: 10px;
    font-weight: bold;
}

.text-fotter p {
    font-size: 16px;
    color: #383838;
    margin-bottom: 30px;
}

.img-contact-details img {
    width: 150px;
    margin: 0 auto 10px;
    display: block;
}

.img-contact-details p {
    font-size: 16px;
    color: #333;
    margin: 5px 0;
}

.footer-icons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 48px;
}

.footer-icons a img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: transform 0.3s;
}

.footer-icons a img:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 700px) {

    .footer {
        margin-top: 70px;
    }

    .text-footer h2 {
        font-size: 16px;
        font-weight: bold;
    }

    .text-footer p {
        font-size: 13px;
        padding-left: 24px;
    }

    .img-contact-details img {
        width: 120px;
    }

    .img-contact-details p {
        font-size: 13px;
    }

    .footer-icons {
        gap: 48px;
        padding-bottom: 16px;
    }

    .footer-icons a img {
        width: 50px;
        height: 50px;
        cursor: pointer;
    }

}

@media (min-width:701px) and (max-width:1024px) {
    .fotter {
        margin-top: 50px;
    }
}